$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../fonts/css/font-awesome.css";
// endbower

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    font-size: 16px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

p {
    text-indent: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

.navbar {
    border: none;
    .container-fluid {
        padding-top: 20px;
        padding-right: 75px;
        padding-bottom: 20px;
        padding-left: 75px;
    }
}

.navbar-default {
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75em;

    .navbar-nav > .active > a, 
    .navbar-nav > .active > a:hover, 
    .navbar-nav > .active > a:focus,
    .navbar-nav > li > a,
    .navbar-nav > li > a:hover, 
    .navbar-nav > li > a:focus,
    .navbar-nav > .open > a, 
    .navbar-nav > .open > a:hover, 
    .navbar-nav > .open > a:focus {
        background-color: transparent;
        color: rgb(0, 0, 0);
        padding: 0;
        margin-right: 15px;
    }

    .navbar-collapse {
        padding: 0;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        font-weight: 600;
        color: rgb(0, 0, 0); 
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;

    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;

    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /*.container {
    max-width: 730px;
}*/

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    body { 
        font-size: 80% !important;
    }
    .navbar-nav {
        width: 100%;
        margin: 0;
    }
    .navbar .container-fluid {
        padding-top: 20px;
        padding-right: 45px;
        padding-bottom: 20px;
        padding-left: 45px;
    }

    .navbar-default { 
        font-size: 1.5em;
    }
    article { 
        font-size: 1.5em;
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        font-weight: 600;
        color: rgb(0, 0, 0);
        background-color: transparent;
    }
}


/* For menu */


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu >.dropdown-menu {
    top: 0;
    right: 100%;
    margin: -6px -1px 0 0;
    -webkit-border-radius: 6px 0px 6px 6px;
    -moz-border-radius: 6px 0px 6px 6px;
    border-radius: 6px 0px 6px 6px;

    position: absolute;
    left: -101%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu.multi-level > .dropdown-submenu>a:before {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-right-color: #ccc;
    margin-top: 5px;
    margin-left: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}



/* Comment */


@import "_socicon.scss";
@import "_gallery.scss";
@import "_modules.scss";

