<div class="admin-blog-container">
    <div class="admin-blog--nav">
        <a class="add-post" href="/post">Add new Post</a>
        <a class="logout" href="#" ng-click="logout()">Log out</a>
    </div>    
    <article class="blog category" ng-repeat="post in posts" id="post-{{post.ID}}">  
        <div class="article--content">
            <time><span class="date--date"><strong>Datums: </strong>{{post.TIME * 1000 | date:'dd/MM/yyyy'}}</span></time>
            <p class="music"><strong>Mūzika: </strong>{{post.MUSIC}}</p>
            <header><div class="header-container"><h1>{{post.TITLE}}</h1></div></header>                
            <p class="post-content" ng-bind-html="post.CONTENT"></p>
            <div class="additional-options">
                <a ng-click="editArticle(post.ID)">Labot</a>
                <a ng-click="deleteArticle(post.ID)">Dzēst</a>
            </div>
        </div> 
    </article>
</div>