<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 img-container">
            <img ng-src="images/Paris.jpg" alt="">  
            <div class="bg">
            </div>
            <div class="img-text">
                <span>One day we're gonna live in Paris I promise...</span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="lead">
                <h1>Par Franciju, pārvākšanos un vienkārši tā pat</h1>
            </div>
        </div>
    </div>
    <div class="row featured">      
        <div class="col-sm-4 col-xs-12 text-center" ng-click="openArticle(posts[0].ID)">            
            <div class="image">
                <img src="http://playground.lotart.lv/img/{{posts[0].IMAGES[0].SRC}}" alt="">
            </div>            
            <h4>{{posts[0].TITLE}}</h4>          
        </div>
        <div class="col-sm-4 col-xs-12 text-center" ng-click="openArticle(posts[1].ID)">
            <div class="image">
                <img src="http://playground.lotart.lv/img/{{posts[1].IMAGES[0].SRC}}" alt="">
            </div>            
            <h4>{{posts[1].TITLE}}</h4>           
        </div>

        <div class="col-sm-4 col-xs-12 text-center" ng-click="openArticle(posts[2].ID)">
            <div class="image">
                <img src="http://playground.lotart.lv/img/{{posts[2].IMAGES[0].SRC}}" alt="">
            </div>            
            <h4>{{posts[2].TITLE}}</h4>          
        </div>
    </div>
</div>

